.Titulo1{
    font-family: $titulo;
    font-style: $cursiva;
    background-color: $fondo-principal;
    // background-image: linear-gradient(to left, #e7aaab, #5e6296);    
    color: $color-de-fuente;
}
.Titulo-destacadas{
    @extend .Titulo1;
}
.Titulo-locales {
    @extend .Titulo1;
}