.Titulo1{
    font-family: $titulo;
    font-style: $cursiva;
    // background-color: $fondo-principal;
    color: $color-de-fuente;
}
.Titulo-destacadas{
    @extend .Titulo1;
}
.Titulo-locales {
    @extend .Titulo1;
}